*{padding:2px;
}
body{
background-color:lightgreen ;
}
nav{
background-color: lightgray;
text-align: black;
}
header{
    background-color:darkblue ;
}
.button{
    color:black ;
}
.header{
    text-align: black;
}
#list{
    display:inline-block ;
    font-size: 10;
}

#profile{
    display: inline-block;
    margin-left: auto ;
    margin-right: auto ;
}
fotoer{
    text-align: left;
}